body {
    width: 600px;
    padding: 0;
    margin: 0;
}

#title {
    font-weight: 500;
    font-size: 1.4em;
    padding: 16px;
}

#subtitle {
    font-weight: 300;
    font-size: 1.4em;
    padding: 13px;
}

.white {
}

#settings {
    display: none;
}

#error{
    display: none;
    padding: 15px;
    margin: 25px;
}